.proeprty-view {
    background-color: #222c31;
    display: flex;



    &__container {
        padding-top: 1px;
        padding: 1px 40px;
        width: 70%;
    }

    &__title {
        color: yellowgreen;
    }

    &__search {}

    &__view {}

    &__head {
        display: flex;
        justify-content: space-between;
        color: yellowgreen;
        align-items: center;
    }

    &__side-bar {}
}

.container {}

.search {
    &__body {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__field {
        padding-left: 20px;
    }

    &__button {}
}

.view {

    &__header {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
    }

    &__value {
        font-size: 18px;
        font-weight: 600;
        color: yellowgreen;
        width: 13%;
    }

    &__value-check {
        width: 5%;
    }

    &__choose-action {
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            padding-bottom: 14px;
            width: 100px;
            line-height: 20px;
        }
    }

    &__button {}

    &__nav {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0px 20px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: #263238;
        border-radius: 5px;
        padding: 0px 20px;
        margin-top: 20px;
    }

    &__img-holder {
        background-color: white;
        width: 30%;
    }
}


.side-bar {
    padding-top: 40px;
    padding-right: 40px;
    position: fixed;
    right: 0;
    width: 10%;

    &__body {
        background-color: #263238;
        padding: 10px 20px;
        border-radius: 5px;
    }

    &__name {}

    &__list {}

    &__value {}

    &__item {}

    &__link {
        display: flex;
        color: yellowgreen;
    }
}

.container {}

.add-city {

    &__name {}
}

.name {

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__value {
        font-size: 18px;
        color: yellowgreen;
        font-weight: 600;
        width: 100px;
        line-height: 20px;
    }
}

.example-form-field {
    height: 80px;
    padding-top: 14px;
}