.proeprty-view {
    background-color: #222c31;
    display: flex;


    &__container {
        padding-top: 1px;
        padding: 1px 40px;
        width: 70%;
    }

    &__title {
        color: yellowgreen;
    }

    &__search {
    }

    &__view {
    }
    &__side-bar {
    }
}
.container {
}
.search {

    &__body {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__field {
        padding-left: 20px;
    }

    &__button {
    }
}
.view {

    &__header {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
    }

    &__value {
        font-size: 18px;
        font-weight: 600;
        color: yellowgreen;
    }

    &__choose-action {
    }

    &__button {
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        text-align: left;
        background-color: #263238;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
    }

    &__img-holder {
        width: 200px;
        height: 200px;
        background-color: white;
    }
}

.side-bar {
    padding-top: 40px;
    padding-right: 40px;
    position: fixed;
    right: 0;
    &__body {
        background-color: #263238;
        padding: 10px 20px;
        border-radius: 5px;
    }

    &__name {
    }

    &__list {
    }

    &__value {
    }

    &__item {
    }

    &__link {
        display: flex;
        color: yellowgreen;
    }
}
.container {
}
