.admin-header {
    background-color:   #263238;
    padding: 30px 0px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;

    &__container {
        display: flex;
        align-items: center; 
        
    }

    &__logo {
        font-size: 24px;
        font-weight: 700;
        color: white;
    }

    &__menu {
        flex: 1 1 auto;
    }

    &__actions {
        display: flex;
        gap: 16px;
    }

    &__button {
            background-color: rgba(15, 106, 59, 0) !important;
            border: 1px solid white;
    }
}
.menu {
    

    &__body {
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 44px;
        font-size: 18px;
        font-weight: 600;
    }

    &__item {
    }

    &__link {
        color: white;
        &:hover{
            opacity: 0.9;
        }
    }
}
.button {
}
