<header class="admin-header">
    <div class="admin-header__container container">
        <a href="/admin/dashboard" class="admin-header__logo">AdminPanel</a>
        <div class="admin-header__menu menu">
            <nav class="menu__body">
                <ul class="menu__list">

                </ul>
            </nav>
        </div>
        <div class="admin-header__actions">
            <button mat-raised-button class="admin-header__button button" (click)="LogOut()">Выход</button>
        </div>
    </div>
</header>