<header class="admin-header">
    <div class="admin-header__container container">
        <a href="" class="admin-header__logo">AdminPanel</a>
        <div class="admin-header__menu menu">
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">Dashboard</a></li>
                    <li class="menu__item"><a href="" class="menu__link">BackToSite</a></li>
                    <li class="menu__item"><a href="" class="menu__link">CreateNewObject</a></li>
                    
                </ul>
            </nav>
        </div>
        <div class="admin-header__actions">
            <button mat-raised-button class="admin-header__button button" (click)="LogOut()">LogOut</button>
        </div>
    </div>
</header>