//=======================================================================

$maxWidth: 1440;
$maxWidthContainer: 768;

@mixin adaptive-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    //Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-top: 5px solid #616161;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

//=======================================================================burger

//=======================================================================hheader
.arrow {
  content: "";
  border: solid #616161;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 4px;
}


.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #F5F5F5;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    min-height: 123px;

    @media (max-width: 768px) {
      min-height: 50px;
      box-shadow: 0px 2px 2px 0px #616161;
    }
  }

  &__logo {
    color: #4BA586;
    font-size: 24px;
    z-index: 10;
  }

  &__menu {}

  &__lang-btn {
    color: #4BA586;
    font-weight: 500;
    font-size: 18px;
  }

  &__lang {
    display: flex;
    gap: 25px;
  }
}

.container {}

.menu-opeb {

  left: 0px !important;

  &::before {
    left: 0px !important;
  }
}

.menu {

  &__icon {}

  &__body {
    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      transition: left 0.3s ease 0s;
      padding-top: 70px;
      background-color: #F5F5F5;

      ul {
        padding-left: 15px;
      }

      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        height: 60px;
        width: 100%;
        transition: left 0.3s ease 0s;
        background-color: #F5F5F5;
        z-index: 100;
      }

    }

  }

  &__list {
    justify-content: space-between;

    @media (min-width: 768px) {
      display: flex;
      row-gap: 5px;
      flex-wrap: wrap;
      @include adaptive-value("column-gap", 56, 0, 0, );
    }
  }


  &__item {
    text-align: left;

    @media (max-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    font-weight: 500;
    line-height: 26px;
    color: #8E8E8E;
    font-size: 20px;

    &:hover {
      color: #4BA586;

    }
  }
}

.menu__list>li:hover .sub-menu__list {
  display: block;
}

.menu li {
  position: relative;
}

.sub-menu {

  &__list {
    display: none;
    position: absolute;
    top: 15px;
    padding: 15px 0px 0px 0px;
    margin-left: -10px;
    min-width: 135px;
    text-align: left;

    @media (max-width: 768px) {
      position: inherit;
      width: 20%;
      margin-left: -15px;
      padding: 15px 0px 0px 0px;
      top: 0px;
      left: 0px;

      ul {
        padding-right: 15px;
      }
    }

    :first-child {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    :last-child {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  &__item {
    text-align: right;

    @media (max-width: 768px) {
      text-align: left;
    }

  }

  &__list>li {
    background-color: white;
  }

  &__link {
    color: #4BA586;
    font-weight: 700;
    display: inline-block;
    margin: 5px 10px;
  }
}

.lang__list>li:hover .sub-lang__list {
  display: block;
}

.lang {
  display: flex;

  &__menu {}

  &__list {}

  &__link {
    color: #4BA586;
    font-weight: 700;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
  }

  &__body {
    display: flex;
    align-items: center;
    cursor: pointer;
  }


}

.lang li {
  position: relative;
}

.sub-lang {

  &__list {
    display: none;
    position: absolute;
    top: 10px;
    padding: 15px 0px 0px 0px;
    left: -5px;

    :first-child {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    :last-child {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  &__list>li {
    background-color: white;
  }

  &__link {
    color: #4BA586;
    font-weight: 700;
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
  }
}


.icon-menu {
  display: none;
  border: none;
  background-color: #F5F5F5;
  z-index: 1;

  @media (max-width: 768px) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: black;
    }

    &::before {
      left: 0px;
      top: 0px;
    }

    &::after {
      bottom: 0px;
    }

    span {
      top: calc(50% - 1px);
    }
  }

}

.open {
  span {
    transform: scale(0);
  }

  &::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  &::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}