<header class="header">
    <div class="header__container container">
        <a href="" class="header__logo">Dimas</a>
        <div class="header__menu menu">

            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">Аренда</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Продажа</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Управление недвижимостью</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Вид на жительство</a></li>
                </ul>
            </nav>
        </div>
        <a href="" class="header__lang-btn">Ru</a>
    </div>
</header>