.footer {
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;

    &__container {}

    &__block {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }

    &__newsletter {}

    &__menu {}
}

.container {}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__logo {
        color: #4BA586;
        font-size: 24px;
        font-weight: 600;
    }

    &__text {
        color: #1F2744;
        font-size: 16px;
        font-weight: 600;
    }

    &__value {
        color: #0B2E29;
        font-size: 20px;
        font-weight: 600;
    }

    &__input {
        input {
            padding: 10px 10px;
            border: none;
        }
    }

    &__button {
        color: white;
        background-color: #69B99D;
        font-weight: 600;
        font-size: 16px;
        border: none;
        padding: 10px 10px;
    }
}

.menu {
    display: flex;
    gap: 50px;

    &__body {}

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {}

    &__link-title {
        color: #0B2E29;
        font-size: 20px;
        font-weight: 600;
    }

    &__link {
        color: #575757;
        font-size: 16px;
        font-weight: 500;
    }

    &__img {}
}