<footer class="footer" *transloco="let t; read: 'footer'">
  <div class="footer__container container">
    <div class="footer__block">
      <div class="footer__newsletter newsletter">
        <div class="newsletter__logo">State of Estate</div>
        <div class="newsletter__text">{{ t('newsletterText') }}</div>
        <div class="newsletter__value">{{ t('newsletter') }}</div>
        <div class="newsletter__input">
          <input type="text">
          <button class="newsletter__button">{{ t('newsletterSearchButton') }}</button>
        </div>
      </div>
      <div class="footer__menu menu">
        <nav class="menu__body">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="menu__link-title">{{ t('service') }}</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">{{ t('aboutUs') }}</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">{{ t('careers') }}</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">{{ t('termsAndConditions') }}</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">{{ t('privacyAndPolicy') }}</a>
            </li>
          </ul>
        </nav>
        <nav class="menu__body">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="menu__link-title">{{ t('community') }}</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">{{ t('findAgents') }}</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">{{ t('lifestyle') }}</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">{{ t('legalNotice') }}</a>
            </li>
          </ul>
        </nav>
        <nav class="menu__body">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="menu__link-title">{{ t('followUsOn') }}</a>
            </li>
            <li class="menu__item">
              <img class="menu__img" src="" alt="">
            </li>
            <li class="menu__item">
              <img class="menu__img" src="" alt="">
            </li>
            <li class="menu__item">
              <img class="menu__img" src="" alt="">
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>