<footer class="footer">
    <div class="footer__container container">
        <div class="footer__block">
            <div class="footer__newsletter newsletter">
                <div class="newsletter__logo">Dimas</div>
                <div class="newsletter__text">We have built our reputation as true local area experts.</div>
                <div class="newsletter__value">Newsletter</div>
                <div class="newsletter__input">
                    <input type="text">
                    <button class="newsletter__button"></button>
                </div>
            </div>
            <div class="footer__menu menu">
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="" class="menu__link-title">Service</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">About us</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Careers</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Terms & Conditions</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Privacy & Policy</a>
                        </li>
                    </ul>
                </nav>
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="" class="menu__link-title">Community</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Find agents</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Lifestyle</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Legal notic</a>
                        </li>
                    </ul>
                </nav>
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="" class="menu__link-title">Follow us on</a>
                        </li>
                        <li class="menu__item">
                            <img class="menu__img" src="" alt="">
                        </li>
                        <li class="menu__item">
                            <img class="menu__img" src="" alt="">
                        </li>
                        <li class="menu__item">
                            <img class="menu__img" src="" alt="">
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>