<app-admin-header></app-admin-header>
<section class="city-view">
  <div class="city-view__container container">
    <h1 class="city-view__title">Select a city to change</h1>
    <div class="city-view__search search">
      <div class="search__body">
        <div class="search__field">
          <input type="text" name="" placeholder="Search">
        </div>
        <button class="search__button">search</button>
      </div>
    </div>
    <div class="city-view__view view" *ngIf="citiesPagedResponse; else loading">
      <div class="view__header">
        <p class="view__value">Action:</p>
        <div class="view__choose-action"></div>
        <div>

        </div>
        <p class="view__value">Selected {{selectedCities.length}} out of {{citiesPagedResponse.TotalRecords}}</p>
      </div>
      <div class="view__nav">
        <div class="view__value"><mat-checkbox (change)="selectAll()" [checked]="allSelected"></mat-checkbox></div>
        <div class="view__value">Name</div>
      </div>

      <div class="view__item" *ngFor="let city of citiesAndCheck; index as i;">
        <div class="view__value">
          <mat-checkbox (change)="selectCity(city.cityDto.City_ID)" [checked]="city.checked">

          </mat-checkbox>
        </div>
        <div class="view__value"><a href="/admin/cities/{{city.cityDto.City_ID}}/change">{{DisplayCityName(city)}}</a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <mat-spinner [diameter]="100" class="mat-spinner-color"></mat-spinner>
  </ng-template>
</section>
