<app-admin-header></app-admin-header>
<div class="city-view__container container">
    <h1 class="city-view__title">Select a city to change</h1>
    <div class="city-view__search search">
        <div class="search__body">
            <div class="search__field">
                <input type="text" name=""  placeholder="Search">
            </div>
            <button class="search__button">search</button>
        </div>
    </div>
    <div class="city-view__view view">
        <div class="view__header">
            <p class="view__value">Action:</p>
            <div class="view__choose-action"></div>
            <div>
            
            </div>
            <p class="view__value">Selected 0 out of 100</p>
        </div>
        <div class="view__nav">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Name</div>
        </div>
        <div class="view__item">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Chechichi</div>
        </div>
        <div class="view__item">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Name</div>
        </div>
        <div class="view__item">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Name</div>
        </div>
        <div class="view__item">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Name</div>
        </div>
        <div class="view__item">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Name</div>
        </div>
        <div class="view__item">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Name</div>
        </div>
        <div class="view__item">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Name</div>
        </div>
        <div class="view__item">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Name</div>
        </div>
        <div class="view__item">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Name</div>
        </div>
        <div class="view__item">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Name</div>
        </div>
        <div class="view__item">
            <div class="view__value"><mat-checkbox formControlName="mushroom"></mat-checkbox></div>
            <div class="view__value">Name</div>
        </div>
    </div>
</div>