<app-admin-header></app-admin-header>
<main class="admin-main">
    <div class="admin-main__container container">
        <h2 class="admin-main__title">Администрация сайта</h2>
        <div class="admin-main__menu menu">
            <nav class="menu__body">
                <a href="" class="menu__title">Главные</a>
                <ul class="menu__list">
                    <li class="menu__item"><a href="/admin/users/view-users" class="menu__link">Пользователи</a><a
                            href="/admin/users/add-user" class="menu__link">Добавить</a></li>
                    <li class="menu__item"><a href="/admin/cities/view-cities" class="menu__link">Города</a><a
                            href="/admin/cities/add-city" class="menu__link">Добавить</a></li>
                    <li class="menu__item"><a href="/admin/counterparties/view-counterpaties"
                            class="menu__link">Контрагенты</a><a href="/admin/counterparties/add-counterparty"
                            class="menu__link">Добавить</a></li>
                    <li class="menu__item"><a href="/admin/reminders/view-reminders"
                            class="menu__link">Напоминания</a><a href="/admin/reminders/add-reminder"
                            class="menu__link">Добавить</a></li>
                    <li class="menu__item"><a href="/admin/properties/view-properties" class="menu__link">Обьекты</a><a
                            href="/admin/properties/add-property" class="menu__link">Добавить</a></li>
                    <li class="menu__item"><a href="admin/partners/view-partners" class="menu__link">Партнеры</a><a
                            href="admin/partners/add-partner" class="menu__link">Добавить</a></li>
                    <li class="menu__item"><a href="/admin/neighborhoods/view-neighborhoods"
                            class="menu__link">Районы</a><a href="/admin/neighborhoods/add-neighborhood"
                            class="menu__link">Добавить</a></li>
                    <li class="menu__item"><a href="/admin/benefits/view-benefits" class="menu__link">Удобства</a><a
                            href="/admin/benefits/add-benefit" class="menu__link">Добавить</a></li>
                </ul>
            </nav>
            <nav class="menu__body">
                <a href="" class="menu__title">Услуги</a>
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">Заявки на ВНЖ</a><a href=""
                            class="menu__link">Добавить</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Заявки на консультацию</a><a href=""
                            class="menu__link">Добавить</a></li>
                </ul>
            </nav>
            <nav class="menu__body">
                <a href="" class="menu__title">Реклама</a>
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">Агенты на Realitica</a><a href=""
                            class="menu__link">Добавить</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Настройки рекламы</a><a href=""
                            class="menu__link">Добавить</a></li>
                </ul>
            </nav>
        </div>
    </div>
</main>