<app-admin-header></app-admin-header>
<main class="admin-main">
    <div class="admin-main__container container">
        <h2 class="admin-main__title">Site Administration</h2>
        <div class="admin-main__menu menu">
            <nav class="menu__body">
                <a href="" class="menu__title">Real Estate</a>    
                <ul class="menu__list">
                    <li class="menu__item"><a href="/admin/users/view-users" class="menu__link">Users</a><a href="/admin/users/add-user" class="menu__link">Add</a></li>
                    <li class="menu__item"><a href="/admin/cities/view-cities" class="menu__link">Cities</a><a href="/admin/cities/add-city" class="menu__link">Add</a></li>
                    <li class="menu__item"><a href="/admin/counterparties/view-counterpaties" class="menu__link">Counterparties</a><a href="/admin/counterparties/add-counterparty" class="menu__link">Add</a></li>
                    <li class="menu__item"><a href="/admin/reminders/view-reminders" class="menu__link">Reminders</a><a href="/admin/reminders/add-reminder" class="menu__link">Add</a></li>
                    <li class="menu__item"><a href="/admin/properties/view-properties" class="menu__link">Objects</a><a href="/admin/properties/add-property" class="menu__link">Add</a></li>
                    <li class="menu__item"><a href="admin/partners/view-partners" class="menu__link">Partners</a><a href="admin/partners/add-partner" class="menu__link">Add</a></li>
                    <li class="menu__item"><a href="/admin/neighborhoods/view-neighborhoods" class="menu__link">Districts</a><a href="/admin/neighborhoods/add-neighborhood" class="menu__link">Add</a></li>
                    <li class="menu__item"><a href="/admin/benefits/view-benefits" class="menu__link">Benefits</a><a href="/admin/benefits/add-benefit" class="menu__link">Add</a></li>
                </ul>
            </nav>
            <nav class="menu__body">
                <a href="" class="menu__title">Услуги</a>    
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">Заявки на ВНЖ</a><a href="" class="menu__link">Add</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Заявки на консультацию</a><a href="" class="menu__link">Add</a></li>
                </ul>
            </nav>
            <nav class="menu__body">
                <a href="" class="menu__title">Реклама</a>    
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">Агенты на Realitica</a><a href="" class="menu__link">Add</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Настройки рекламы</a><a href="" class="menu__link">Add</a></li>
                </ul>
            </nav>
        </div>
    </div>
</main>
