<app-header></app-header>
<main class="main">
  <section class="search__page" *transloco="let t; read: 'searchMenuOptions'">
    <div class="search__container container">
      <div class="search__block">
        <div class="search__menu menu">
          <div class="menu__buttons">
            <button class="menu__search-btns" [ngClass]="statusRent ? 'activebtn' : 'notactive'"
              (click)="SetSearch('Rent')">{{ t('menuSearchRentButton') }}</button>
            <button class="menu__search-btns" [ngClass]="statusId ? 'activebtn' : 'notactive'"
              (click)="SetSearch('Id')">{{ t('menuSearchByIDButton') }}</button>
          </div>
          <div class="menu__inputs" [hidden]="!(CurrentSearch == 'Rent')">
            <div class="menu__input">
              <div class="menu__multiselect">
                <div class="menu__selectBox" (click)="toggleDropdown('menu01')">
                  <div class="menu__value">{{ t('rentalPeriod') }}</div>
                  <div class="menu__text">


                    <div *ngIf="rentalPeriod == 'any'" style="display: inline;">
                      {{t('rentalPeriodAny') | truncate: 10 }}
                    </div>
                    <div *ngIf="rentalPeriod == 'long-term'" style="display: inline;">
                      {{t('rentalPeriodLongTerm') | truncate: 10 }}
                    </div>
                    <div *ngIf="rentalPeriod == 'whole-season'" style="display: inline;">
                      {{t('rentalPeriodFullSeason') | truncate: 10 }}
                    </div>
                    <span></span>



                  </div>
                  <div class="menu__overSelect"></div>
                </div>
                <div id="checkboxes" *ngIf="currentDropdown === 'menu01'">
                  <ul class="menu__dropdown">
                    <li>
                      <label for="Any">
                        <input type="radio" id="Any" value="any" (change)="changeRentalPeriod($event);"
                          name="RentalPeriod" [(ngModel)]="rentalPeriod" />{{ t('rentalPeriodAny') }}</label>
                      <label for="LongTerm">
                        <input type="radio" id="LongTerm" value="long-term" (change)="changeRentalPeriod($event);"
                          name="RentalPeriod" [(ngModel)]="rentalPeriod" />{{ t('rentalPeriodLongTerm') }}</label>
                      <label for="FullSeason">
                        <input type="radio" id="FullSeason" value="whole-season" (change)="changeRentalPeriod($event);"
                          name="RentalPeriod" [(ngModel)]="rentalPeriod" />{{ t('rentalPeriodFullSeason') }}</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="menu__input">
              <div class="menu__multiselect">
                <div class="menu__selectBox" (click)="toggleDropdown('menu02')">
                  <div class="menu__value">{{ t('city') }}</div>
                  <div class="menu__text">
                    <div *ngIf="selectedCities.length > 0; else noCitiesSelected" style="display: inline;">
                      {{selectedCities | selectedCityNames : trigger | truncate: 10 }}

                    </div>
                    <span></span>
                    <ng-template #noCitiesSelected>
                      <ul>
                        <li>{{ t('cityExample')}} </li>
                      </ul>
                    </ng-template>
                  </div>
                  <div class="menu__overSelect"></div>
                </div>
                <div id="checkboxes" *ngIf="currentDropdown === 'menu02'">
                  <ul class="menu__dropdown">
                    <li *ngFor="let city of cities">
                      <label for="{{city.Data.City_ID}}">
                        <input type="checkbox" id="{{city.Data.City_ID}}" [(ngModel)]="city.checked"
                          (change)="selectCity(city);" name="{{city | cityAndCheckName : trigger}}" />{{city |
                        cityAndCheckName: trigger}}</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="menu__input">
              <div class="menu__multiselect">
                <div class="menu__selectBox" (click)="toggleDropdown('menu03')">
                  <div class="menu__value">{{ t('bedroomNumber') }}</div>
                  <div class="menu__text">
                    <div *ngIf="selectedBedrooms.length > 0; else noBedroomRentSelected" style="display: inline;">
                      {{selectedBedrooms | selectedStringArray : trigger | truncate: 15 }}

                    </div>
                    <span></span>
                    <ng-template #noBedroomRentSelected>
                      <ul>
                        <li>{{ t('bedroomExample') }}</li>
                      </ul>
                    </ng-template>
                  </div>
                  <div class="menu__overSelect"></div>
                </div>
                <div id="checkboxes" *ngIf="currentDropdown === 'menu03'">
                  <ul class="menu__dropdown">
                    <li>
                      <label for="studio">
                        <input type="checkbox" id="studio" name="bedroomCount" value="0" [(ngModel)]="studio"
                          (change)="selectBedroomRent('0')" />{{
                        t('zeroBedrooms')}}</label>
                    </li>
                    <li>
                      <label for="1">
                        <input type="checkbox" id="1" name="bedroomCount" value="1" [(ngModel)]="oneBedroom"
                          (change)="selectBedroomRent('1')" />{{
                        t('oneBedroom')}}</label>
                    </li>
                    <li>
                      <label for="2">
                        <input type="checkbox" id="2" name="bedroomCount" value="2" [(ngModel)]="twoBedrooms"
                          (change)="selectBedroomRent('2')" />{{
                        t('twoBedrooms')}}</label>
                    </li>
                    <li>
                      <label for="3">
                        <input type="checkbox" id="3" name="bedroomCount" value="3" [(ngModel)]="threeBedrooms"
                          (change)="selectBedroomRent('3')" />{{
                        t('threeBedrooms')}}</label>
                    </li>
                    <li>
                      <label for="4">
                        <input type="checkbox" id="4" name="bedroomCount" value="4" [(ngModel)]="fourBedrooms"
                          (change)="selectBedroomRent('4')" />{{
                        t('fourBedrooms')}}</label>
                    </li>
                    <li>
                      <label for="5">
                        <input type="checkbox" id="5" name="bedroomCount" value="5" [(ngModel)]="fiveBedrooms"
                          (change)="selectBedroomRent('5')" />{{
                        t('fiveBedrooms')}}</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="menu__input">
              <div class="menu__multiselect">
                <div class="menu__selectBox" (click)="toggleDropdown('menu04')">
                  <div class="menu__value">{{ t('price')}}</div>
                  <div class="menu__text">
                    {{selectedRentPrice}}
                    <span></span>
                  </div>
                  <div class="menu__overSelect"></div>
                </div>
                <div id="checkboxes" *ngIf="currentDropdown === 'menu04'">
                  <ul class="menu__dropdown">
                    <div class="menu__set-price">
                      <p>{{ t('priceFrom')}}</p>
                      <input type="number" [(ngModel)]="priceFrom" (change)="priceChangeRent()">
                    </div>
                    <div class="menu__set-price">
                      <p>{{ t('priceTo')}}</p>
                      <input type="number" [(ngModel)]="priceTo" (change)="priceChangeRent()">
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="menu__input">
              <div class="menu__multiselect">
                <div class="menu__selectBox" (click)="toggleDropdown('menu05')">
                  <div class="menu__value">{{ t('benefit')}}</div>
                  <div class="menu__text">


                    <div *ngIf="selectedBenefits.length > 0; else noBenefitsRentSelected" style="display: inline;">
                      {{selectedBenefits | selectedBenefitNames : trigger | truncate: 10 }}

                    </div>
                    <span></span>
                    <ng-template #noBenefitsRentSelected>
                      <ul>
                        <li>{{ t('benefitExample')}}</li>
                      </ul>
                    </ng-template>
                  </div>
                  <div class="menu__overSelect"></div>
                </div>
                <div id="checkboxes" *ngIf="currentDropdown === 'menu05'">
                  <ul class="menu__dropdown">
                    <li *ngFor="let benefit of benefits">
                      <label for="{{benefit.Data.Benefit_ID}}">
                        <input type="checkbox" id="{{benefit.Data.Benefit_ID}}" [(ngModel)]="benefit.checked"
                          (change)="selectBenefit(benefit);"
                          name="{{benefit | benefitAndCheckName : trigger}}" />{{benefit |
                        benefitAndCheckName : trigger}}</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="menu__input">
              <button class="menu__search-btn" (click)="searchProperties(1)">{{ t('searchButton')}}</button>
            </div>
          </div>
          <div class="" [hidden]="!(CurrentSearch == 'Id')">
            <div class="menu__search-id">
              <input type="text" placeholder="{{ t('menuSearchByIDButton')}}">
            </div>
            <button class="menu__search-btn">{{ t('searchButton')}}</button>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="recomendation__page">
    <div class="recomendation__container container">
      <div class="title" *transloco="let t; read: 'searchRentPage'">
        <div>
          <div class="title__btn grey">{{ t('title')}}</div>
        </div>
        <div class="title__label">{{ t('titleLabel')}}</div>
      </div>
      <div *ngIf="properties; else loading">
        <div class="recomendation__body body" *transloco="let t; read: 'propertyCard'">
          <div class="body__property"
            *ngFor="let property of properties.Data | paginate: { id: 'server', itemsPerPage: 20, currentPage: properties.PageNumber, totalItems: properties.TotalRecords }">
            <div class="body__img">

              <a routerLink="/properties/r{{property.Property_ID}}" routerLinkActive="active"
                ariaCurrentWhenActive="page">
                <img src="{{getFirstPictureUrl(property)}}" alt="">
              </a>

            </div>
            <div class=" body__label">{{property | cityNameByProperty: trigger}}
            </div>
            <div class="body__value">{{property | propertyDescription: trigger | truncate : 120 : true}}</div>
            <div class="body__info">
              <div class="body__price">${{property | propertyPrice : rentalPeriodOnLoad}}</div>
              <div class="body__space" innerHTML="{{property | propertySquare}} {{t('spaceArea')}}"></div>
            </div>
            <button class="body__inquiry-btn">{{t('sendInquiryButton')}}</button>
          </div>
        </div>
        <div class="number-of-page" *transloco="let t; read: 'pagination'">
          <pagination-controls (pageChange)="searchProperties($event)" id="server" previousLabel="{{t('back')}}"
            nextLabel="{{t('next')}}"></pagination-controls>
        </div>
      </div>


    </div>
  </section>
</main>
<ng-template #loading>
  <mat-spinner [diameter]="100" class="mat-spinner-color"></mat-spinner>
</ng-template>
<app-footer></app-footer>
