<app-admin-header></app-admin-header>
<section class="proeprty-view">
    <div class="proeprty-view__container container">
        <h1 class="proeprty-view__title">Select an Counterparty to change</h1>
        <div class="proeprty-view__search search">
            <div class="search__body">
                <div class="search__field">
                    <div class="add-city__name name">
                        <div class="name__item">
                            <p class="name__value">Full Name</p>
                            <mat-form-field class="example-form-field">
                                <mat-label>Clearable input</mat-label>
                                <input matInput type="text" [(ngModel)]="value">
                                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                  <mat-icon>close</mat-icon>
                                </button>
                              </mat-form-field>                     
                        </div>
                    </div>
                </div>
                <button mat-raised-button class="search__buttons-save">Search</button>
            </div>
        </div>
        <div class="proeprty-view__view view">
            <div class="view__header">
                <div class="view__choose-action">
                    <p class="view__value">Action:</p>
                        <mat-form-field appearance="fill">
                            <mat-label>Select an option</mat-label>
                            <mat-select disableRipple>
                              <mat-option value="1">Option 1</mat-option>
                              <mat-option value="2">Option 2</mat-option>
                              <mat-option value="3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>  
                        <p><button mat-raised-button class="search__buttons-save">Delete</button></p>       
                    <p class="view__value">Selected 0 out of 100</p>             
                </div>
            </div>
            <div class="view__nav">
                <div class="view__value"><mat-checkbox></mat-checkbox></div>
                <div class="view__value">Img</div>
                <div class="view__value">Full Name</div>
                <div class="view__value">Type</div>
                <div class="view__value">Objects</div>
                <div class="view__value">Contacts</div>
            </div>
            <div class="view__item">
                <div class="view__value"><mat-checkbox></mat-checkbox></div>
                <div class="view__img-holder">Img</div>
                <div class="view__value"><a href="/admin/counterparties/:id/change" class="">Full Name</a></div>
                <div class="view__value">Owner</div>
                <div class="view__value">s1337</div>
                <div class="view__value">+380501091319</div>
            </div> 
        </div>
    </div>
</section>