<app-admin-header></app-admin-header>
<section class="proeprty-view">
  <div class="proeprty-view__container container">
    <h1 class="proeprty-view__title">Select an Counterparty to change</h1>
    <div class="proeprty-view__search search">
      <div class="search__body">
        <div class="search__field">
          <div class="add-city__name name">
            <div class="name__item">
              <p class="name__value">Full Name</p>
              <mat-form-field class="example-form-field">
                <mat-label>Clearable input</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
        </div>
        <button mat-raised-button class="search__buttons-save">Search</button>
      </div>
    </div>
    <div class="proeprty-view__view view">
      <div class="view__header">
        <div class="view__choose-action">
          <p class="view__value">Action:</p>
          <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select disableRipple>
              <mat-option value="1">Option 1</mat-option>
              <mat-option value="2">Option 2</mat-option>
              <mat-option value="3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
          <p><button mat-raised-button class="search__buttons-save">Delete</button></p>
          <p class="view__value" *ngIf="counterpartiesPagedResponse; else loading">Selected
            {{selectedCounterparties.length}} out of
            {{counterpartiesPagedResponse.TotalRecords}}</p>
        </div>
      </div>
      <div class="view__nav">
        <div class="view__value"><mat-checkbox (change)="selectAll()" [checked]="allSelected"></mat-checkbox></div>
        <div class="view__value">Img</div>
        <div class="view__value">Full Name</div>
        <div class="view__value">Type</div>
        <div class="view__value">Objects</div>
        <div class="view__value">Contacts</div>
      </div>
      <div class="view__item" *ngFor="let counterpartyAndCheck of counterpartiesAndCheck; index as i;">
        <div class="view__value">
          <mat-checkbox (change)="selectCounterparty(counterpartyAndCheck.Data.Counterparty_ID)"
            [checked]="counterpartyAndCheck.checked">

          </mat-checkbox>

        </div>
        <div class="view__img-holder">Img</div>
        <div class="view__value"><a href="/admin/counterparties/{{counterpartyAndCheck.Data.Counterparty_ID}}/change"
            class="">{{counterpartyAndCheck.Data.FullName}}</a></div>
        <div class="view__value">{{counterpartyAndCheck.Data.Type}}</div>
        <div class="view__value">
          <ul>
            <li *ngFor="let property of counterpartyAndCheck.Data.Properties; last as isLast">
              <span *ngIf="!isLast">{{property.Property_ID}}, </span>
              <span *ngIf="isLast">{{property.Property_ID}}</span>
            </li>
          </ul>


        </div>
        <div class="view__value">
          {{counterpartyAndCheck.Data.PhoneNumber}} <br>
          {{counterpartyAndCheck.Data.PhoneNumber2}} <br>
          {{counterpartyAndCheck.Data.PhoneNumber3}}
        </div>
      </div>
    </div>
    <ng-template #loading>
      <mat-spinner [diameter]="100" class="mat-spinner-color"></mat-spinner>
    </ng-template>
  </div>
</section>