<app-admin-header></app-admin-header>
<section class="add-city">
  <div class="add-city__container container">
    <div class="add-city__header">
      <h1 class="add-city__title">Изменить Напоминание</h1>
    </div>
    <div class="add-city__header-footer-body">
      <div class="add-city__header-footer">
        <button mat-raised-button class="add-city__buttons-save">Сохранить и добавить другой обьект</button>
        <button mat-raised-button class="add-city__buttons-save">Сохранить и продолжить изменения</button>
        <button mat-raised-button class="add-city__buttons-save">Сохранить</button>
      </div>
      <button mat-raised-button class="add-city__buttons-save">Удалить</button>
    </div>
    <div class="add-city__name name">
      <div class="name__item">
        <p class="name__value">Объект</p>
        <mat-form-field appearance="fill">
          <mat-label></mat-label>
          <mat-select disableRipple [(value)]="selectedProperty">
            <mat-option *ngFor="let property of properties" [value]="property">{{property.Property_ID}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="name__item">
        <p class="name__value">Текст</p>
        <mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea matInput placeholder="" [(ngModel)]="description"></textarea>
        </mat-form-field>
      </div>
      <div class="name__item">
        <p class="name__value">Дата активации</p>
        <mat-form-field appearance="fill">
          <input matInput [matDatepicker]="dp3" disabled [(ngModel)]="activationDate">
          <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="name__item">
        <p class="name__value"><mat-checkbox [(ngModel)]="isActive">Активный</mat-checkbox> </p>
      </div>
    </div>
  </div>
</section>