<app-header></app-header>
<main class="main">
    <div class="property__page">
        <div class="property__container container">
            <div class="title">
                <div>
                    <div class="title__btn">ID 228</div>
                </div>
                <div class="title__label">Сдаётся квартира в Бечичах с 2 спальнями</div>
                <div class="title__value">Аренда Бечичи № 2805. Сдается квартира в Бечичи с 2 спальнями на год. Есть
                    место для
                    парковки. Плазма. Большая терраса с
                    видом. Наша компания оказывает услуги по аренде вашей недвижимости.
                </div>
            </div>
            <div class="property-images">
                <gallery thumbPosition="top" [items]="images"></gallery>
            </div>
            <div class="property__info info">
                <div class="info__description">
                    <div class="info__title"></div>
                    <div class="info__value"></div>
                </div>
                <div class="info__rent-price">
                    <div class="info__title"></div>
                    <div class="info__value"></div>
                </div>
                <div class="info__detail">
                    <div class="info__title">Детали</div>
                    <div class="info__value-block">
                        <p class="info__value">Местоположение: Столив</p>
                        <p class="info__value">Кол-во спален: 5+</p>
                        <p class="info__value">Площадь: 350 м²</p>
                        <p class="info__value">Кол-во санузлов: 5</p>
                        <p class="info__value">Кол-во санузлов: 5</p>
                        <p class="info__value">Кол-во санузлов: 5xex</p>
                    </div>
                </div>
                <div class="info__facilities">
                    <div class="info__title"></div>
                    <div class="info__value"></div>
                </div>
                <div class="info__map">
                    <div class="info__title"></div>
                    <div class="info__value"></div>
                </div>
                <div class="info__consultation">
                    <div class="info__title"></div>
                    <div class="info__value"></div>
                </div>
            </div>

        </div>
    </div>
</main>
<app-footer></app-footer>