<div class="swiper-slide" *transloco="let t; read: 'propertyCard'">
  <div class="body__property">
    <div class="body__img">
      <div class="image-swiper">
        <div class="image-swiper-container" [style.transform]="'translateX(' + (-currentIndx * 100) + '%)'">
          <div class="image-swiper-slide" *ngFor="let url of photoUrls;let i = index">
            <img src="{{ url }}" alt="Image {{ i + 1 }}" />
          </div>
        </div>
        <div class="image-swiper-navigation">
          <span class="prev" (click)="goToPrev()"></span>
          <span class="next" (click)="goToNext()"></span>
        </div>
      </div>
    </div>
    <div class="body__label">{{property | propertyTitle : trigger}}</div>
    <div class="body__value">{{property | propertyCityName : trigger}}</div>
    <div class="body__info">
      <div class="body__price">{{property | propertyPrice : rentalPeriod}}</div>
      <div class="body__space" *ngIf="property.HouseAreaSquare">{{property.HouseAreaSquare}}</div>
      <div class="body__space" *ngIf="property.LandAreaSquare">{{property.LandAreaSquare}}</div>
    </div>
    <a class="body__inquiry-btn">{{ t('sendInquiryButton') }}</a>
  </div>
</div>