.add-property {
    padding-top: 20px;
    background-color: #222c31;

    &__container {
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        color: yellowgreen;
    }

    &__translate {
        background-color: yellowgreen !important;
    }

    &__header-footer {
        display: flex;
        gap: 20px;
    }
    &__header-footer-body{
        display: flex; 
        justify-content: space-between; 
        padding-top: 20px;
    }

    &__buttons-save {
        background-color: rgba(15, 106, 59, 0) !important;
            border: 1px solid white;
    }

    &__options {
    }
}
.container {
    padding-bottom: 40px;
}
.options {

    &__body {
        margin-top: 50px;
    }
    &__item {
        display: flex;
        align-items: center;
    }

    &__value {
        font-size: 18px;
        width: 250px;
        color: yellowgreen; 
        padding-bottom: 14px;
    }
    &__title {
        display: flex;
        
        mat-form-field{
            width: 300px !important;
        }
    }
    &__checkbox{
        padding-bottom: 14px;
        h4{
            font-size: 20px;
            color: yellowgreen;
        }
    }
    
}
.end {
    margin-top: 50px;
    &__title {
        color: yellowgreen;
        font-size: 24px;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        background-color: #263238;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__item {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
}
.last{
    padding-top: 20px;
}



.example-form-field {
}



