.proeprty-view {
    background-color: #222c31;

    &__container {
        padding-top: 1px;
        padding: 1px 40px;
    }

    &__title {
        color: yellowgreen;
    }

    &__search {}

    &__view {}

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: yellowgreen;
    }
}

.container {}

.search {

    &__body {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__field {
        padding-left: 20px;
    }

    &__button {}

    &__buttons-save {}
}

.view {

    &__header {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
    }

    &__value {
        font-size: 18px;
        font-weight: 600;
        color: yellowgreen;
    }

    &__choose-action {
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            padding-bottom: 14px;
            width: 100px;
            line-height: 20px;
        }
    }

    &__button {}

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        text-align: left;
        align-items: center;
        background-color: #263238;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
    }

    &__img-holder {
        width: 200px;
        height: 200px;
        background-color: white;
    }
}

.search {
    padding-top: 10px;

    &__field {}
}

.add-city {

    &__name {}
}

.name {

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__value {
        font-size: 18px;
        color: yellowgreen;
        font-weight: 600;
        width: 100px;
        line-height: 20px;
    }
}

.example-form-field {
    height: 80px;
    padding-top: 14px;
}